files:
    "/etc/hosts" :
        mode: "000755"
        owner: root
        group: root
        content: |
           127.0.0.1   localhost localhost.localdomain
           172.31.0.10     mongodb1 db1.getyomojo.com
           172.31.16.10    mongodb2 db2.getyomojo.com
           172.31.32.10    mongodb3 db3.getyomojo.com
