commands:
  alex_key:
    command: "grep -q 'clmuyXXFkZvJIe7jzweHZc' /home/ec2-user/.ssh/authorized_keys || echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0ChZTWd1RwGqsjiEsHkCkZ6B+FuKCBBOed4clmuyXXFkZvJIe7jzweHZc7y/6AFpQzCJ9/4saBmUgjr8zUSP6/3clzcG8YYMU/ufSnqXhf2k1lzvUEQ2S2NT+twEqKRLwHJ1rCxlly4GeWrlL2gZeF4UeAHYJPiwWYiUMXciP3Yp/82mPR4VRea4JJvqYoyNHaLEh1K+YbXsc69GPgSeVa18q3c5jqwm08ow25Zellf7O4K4OUxLVL4lrH6qNTBbfGjwld0kpyJ67d86eZGVhermK/pm8c8ebxZj/VQQykvbIR91qzeMGxNeKcUqShSGfG+5wKfbX2wiuUBe+idOT' >>/home/ec2-user/.ssh/authorized_keys"
    ignoreErrors: true

  darkkc_key:
    command: "grep -q 'NQN00qgJ5tR9UkPkDb35u0' /home/ec2-user/.ssh/authorized_keys || echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDAfQKkNrgdnLpNaBOawfcg1lo4OW3JZpCS/DZrMaO6R6xWK40UGNq2mqYOhuT0DIq0Ofxba2VuuwwDVCrRRuuWT+O88kkRUts5KweHcR2Eg1QsOX0FiItjWs5j1PnTCMRyd8mugelgeUk804ERkJk1D7BuIGTkLKp3GNOr9hKl/p7v5Atol9BID54UqJ05oXY8fOkPDE01IVLeYIRZqzfX5OYblQlUYDep6o40szQLdI0u/TjvmXD0NMvtxMCEWOI5TgcTlDbfUKI9JNQKwumSwjOUdy14nNUl+NmlM0bq0Uln9Bduq2qZPlWuEOiPC1cX/Xl6/j+hDVhs9ul1hXmjbL7dRnCS2M4337y1bP5E7Zj1hJW0b/DX822Oid6bsfuX5+7o592C8RMcSRyt26P5IZNfP2Rn8nK6ifgNFXQ/NQN00qgJ5tR9UkPkDb35u0+OnYMF5cW0sNEHO5PZ2/PKLDuyXoPrtSgmm2CA0VQ2kH0DCkfChH8xhhfD2rLFKrs2pSjqWwBSZDeYF429EumC7Yj8dMwtpyveKLbOb9RZSpiIemNPbVpbZAG1XKrK1KEDvZ/CVyItYZ1xRYSeDtM8NKxuignBT6cChEpl82uHhZ35T5OgAm7MZhE2Llf2duCmfpHheblrH4y0tfD+iIz1X+V3QKyio+E1XfRDCjts1w== darkkc@darkkc-Vostro-355' >>/home/ec2-user/.ssh/authorized_keys"
    ignoreErrors: true

  div-one_key:
    command: "grep -q '2loGp7LjYtql2n1j8BKgXF' /home/ec2-user/.ssh/authorized_keys || echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiFzyXjL89e6oIaLDe/u1UiPzJ4Qk68B2loGp7LjYtql2n1j8BKgXFtOl+NxGMhOP62mG1oESQ0xQlj8f3oDZwPmXu4RnVlnDUJRYgheAYH9oca+e4fhYjMWtIAVdDjrmETkWSqoUBz+DwPUqxvPT0rHjG/dZCXbqZcAhRMCjp5M8g30kCnMJjTQm5GviI8UgAzYROK3hIffULcXT3NlwLPcyGklDc281+AFEWH4rL8NSeT0lC9BTnBDzYofa1YvbWRi3RHGanEBBmhx7501+Yn2iNHBx43G2q2p0M+rTZ018auF9sORAuCRWqZ622CQ7MeSBb7A3ajOwi6gGHq2VP' >>/home/ec2-user/.ssh/authorized_keys"
    ignoreErrors: true

  ibis_key:
    command: "grep -q 'talZd6OZL99EToiuQdrbDr' /home/ec2-user/.ssh/authorized_keys || echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOwq3/XnNBaveqg/V7gHq0/VJwpsAuGFuZiMlMcjvEkF+laq82asJwI1yegWO06Qyw/1eX4G6CeDgTHI2Hh3gnnvFOjty16wxpHJYtR8Ymu8CaoGYOLYAwe5fvIQD2A5S+EIzS2CGSVMOwLd9Pmn3+wSwTRy050AJzvLYH81V+mFpxwd3QvpoweqK4VUmGXlyrz9j9vIhYQ6Cact7gznmmFtalZd6OZL99EToiuQdrbDrGI3MkYoHG+e18nrUpg14cA0h1v8zQ5R4yOOMDsDXdPSYRDENBhuCfK0lqMQxn+K26S0ZhjJN7cqfk9c1oJq2LWViftwa8Dy1qgVjkNDET' >>/home/ec2-user/.ssh/authorized_keys"
    ignoreErrors: true

  klaus_key:
    command: "grep -q 'gVJZPRNjwQ9Twl6ER40eiC' /home/ec2-user/.ssh/authorized_keys || echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDOjoUvOPcUSiQ7ZGZrOzjNqvUL37VVZeC84Cl0Io972wQO0h46Jew1pOxtyHyj1i/IfDKwhJ/i+nLe/pKOFXmmLpmUPw0/qGEEYtfC4vQJI3kKSM/+iAF/C3Z/Ju9upeTX6Zo9v6NliVFHhMpuHGP4tVhOZ71MBia3wj5DTUpCyfk/tvXokFOYwpYFLYPYOsYKI2WQczChPYb52Fx0SaQQBaTpJiH+ZZcMWxQxFggWYPYb/pvdQS6qJcUGsaFwEzZhcsFeRpk37g5OxRGTaNP+DEPSeJE6cHFmwMQpdAhm8n8BdXKDrQS0aBQnYBh/AY0PkkDoiqZw3Xw7SOF3IRnWacdKLRuWc2LClA6jnG5eBoIEKf9g+RT3D9nhP1AI8PbPaOm95GpvGe3RGrkT0koCG4MsSbH3I4fEa0RlSB+AQ5BI2jNb8A1nwVfhdMZXF9K37rreW/cVtlQVJSf8m3FiqkF4Idyct1SElYrPc8MW4f/OMfgjXKQpZU4ndTRcbq+7m/ap2FyPu8/DYoOZJr2Mc0DMwa7ZpGKJAFDnxsggC5VswSRrOGkuEsZIn4srJwiXupYe/3AJHS2DW5ndUk+MApQgVJZPRNjwQ9Twl6ER40eiCkgD62wdXMJ330nOcl3P7YaWJS7tdv8IQE72nDSC+UzCR6p1kRivd6fQX/AUFQ== klaus@vostro' >>/home/ec2-user/.ssh/authorized_keys"
    ignoreErrors: true

  reshet_key:
    command: "grep -q 'xccM9mNVaOrUvoS9urjHrh' /home/ec2-user/.ssh/authorized_keys || echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYxccM9mNVaOrUvoS9urjHrhoPj6IlB8+WpVNa/S/ulps9rYxmQXu7kWbXstJvps06L63uU/bUC5sCrd5mijGMiS15/gwcBgL9pfhWmQLdRSJ3HNx59Nkg38DtZqJAvTd+g3PSatne4+cOZUSpbrRTt74ixXu07OJNRxKlWuuAzduF9bEBySQm2H+ZGP1Rzi/ED3bpmkvnBkkPQEpR3M87V9aLySdRh70jOTccrfn9lzjo5mRRQBww2gDsZt+fzePCsugtYzwbB5jtF93sa5ZWidz/seCHQu6AeUbxpcYAk6ChoCOH6jzhQYRbFFAwSZCjUqltifMOwdPq5DAsHmAX' >>/home/ec2-user/.ssh/authorized_keys"
    ignoreErrors: true
