option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: /parse
    APP_ID: mojoDev
    MASTER_KEY: masterKeyMojo
    DATABASE_URI: mongodb://mojodev:D3vDBM0ng0@db1.getyomojo.com,db2.getyomojo.com,db3.getyomojo.com/mojodev?ssl=true
    NODE_ENV: development
    SERVER_URL: http:localhost:1337
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: npm start index.js