<!-- MENU TEMPLATE -->
<div class="container-fluid" id="appContentWrapper">

    <div class="row">

        <!-- MAIN CONTENT -->

        <div class="k-pane k-scrollable">
            <!--<div class="col-xs-12" id="paneMenuHeader">-->
            <div class="row-header entityHeader menuHeader">
                <div class="col-xs-12 col-md-6" id="menuListWrapper">
                    <input name="lstMenues" id="lstMenues" data-role="dropdownlist"
                           class="form-control k-input-lg"
                           data-text-field="name" name="menuSelector"
                           data-value-field="objectId"
                           data-option-label="Select a menu..."
                           data-bind="source: menuHeaders,events:{change:editorModel.menuHeader.onMenuHeaderChange ,dataBound:onMenuHeadersListViewDataBound}">
                    </input>
                </div>
                <div class="col-xs-12 col-md-6 headerToolbarWrapper">
                    <button id="editMenuBtn" type="button" class="btn btn-default btn-lg"
                            data-bind="click:editorModel.menuHeader.editMenuHeaderRecord">
                        <span class="hidden-xs visible-sm-*">Edit Menu</span><span
                            class="visible-xs hidden-sm-*">Edit</span></button>

                    <button id="addNewMenuBtn" type="button" class="btn btn-primary btn-lg"
                            data-bind="click:editorModel.menuHeader.addMenuHeaderRecord">
                        <span class="hidden-xs visible-sm-*">Add Menu</span><span
                            class="visible-xs hidden-sm-*">Add</span></button>
                </div>
            </div>

            <div>
                <div class="col-xs-12 col-md-6 noGutter" id="paneMenuCategory" style="display:none">

                    <!-- data-bind="visible: hasCategories" -->
                    <div class="row-header">
                        <div class="col-xs-9 col-sm-8">
                            <h4>
                                Categories&nbsp;
                            </h4>
                        </div>
                        <button type="button" class="btn btn-default"
                                data-bind="click:editorModel.menuCategory.addRecord, disabled:editorModel.menuCategory.addCategoryDisabled">
                            <span class="hidden-xs visible-sm-*">Add Category</span><span
                                class="visible-xs hidden-sm-*">Add</span></button>

                    </div>

                    <div data-role="listview"
                         data-template="tmplMenuCategoryRow"
                         data-bind="source: menuCategories,events:{change:editorModel.menuCategory.onMenuCategoryChange,dataBound:onMenuCategoriesListViewDataBound}"
                         ,
                         data-selectable="single" class="trkListView" data-auto-bind="false"
                         id="kendoLVMenuCategory">
                    </div>


                </div>

                <div class="col-xs-12 col-md-6 noGutter" id="paneMenuItem" style="display:none">

                    <!-- <div class="row row-header" data-bind="visible:hasItems"> -->
                    <div class="row-header">
                        <div class="col-md-6 ">
                            <h4>
                                Items&nbsp;
                                <!-- <small><a data-bind="click:editorModel.menuItem.hidePanel" href="#">(hide)</a></small> -->
                            </h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-default"
                                    data-bind="click:editorModel.menuItem.onAddMenuItemToCatClick">Assign Menu Item
                            </button>
                        </div>

                    </div>

                    <div data-role="listview"
                         data-template="tmplMenuItemRow"
                         data-bind="source: assignedMenuItems,events:{dataBound:onMenuItemsListViewDataBound}" ,
                         data-selectable="single" class="trkListView" data-auto-bind="false"
                         id="kendoLVAssignedMenuItems">
                    </div>

                </div>


            </div>

        </div>



        <!-- /Menu Item POPUP -->
    <div id="gMenuItemPopup" class="modal-window" style="display:none">
        <div class="container-fluid">
                <div class="col-sm-12" id="searchBoxHeadeWrapper">
                    <span tabindex="-1" id="searchBoxInputWrapper" role="presentation" class="k-widget k-textbox k-header k-state-default">
                        <input id="inputSearchMenuItems" placeholder="Search Menu Items" type="text" class="form-control k-input-lg k-input" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-busy="false">
                    </span>
                </div>
            <div class="col-md-12"
                 data-role="listview" c;ass="trkListView"
                data-template="tmplMenuItemAssignRowAll"
                data-bind="source: allMenuItems"
                data-selectable="false"
                id="kendoLVAllMenuItems">
            </div>

        </div>

        <div class="toolbar">
            <button class="btn btn-primary" data-bind="click: editorModel.menuItem.onPopupMenuItemSelect">Select</button>
            <button class="btn btn-default" data-bind="click: editorModel.menuItem.onPopupMenuItemCancel">Close</button>
        </div>
    </div>

        <!-- /MAIN CONTENT -->

        <!-- EDITOR -->
        <div class="col-xs-12 col-md-6 record-edit-view" id="appContentEditContainer" style="display:none">

            <!-- Menu Headers -->
            <form role="form" id="frmMenuHeaderRecordEdit" class="form-record-edit" style="display:none">
                <div data-role="tabstrip">
                    <ul>
                        <li class="k-state-active">General</li>
                    </ul>
                    <div>
                        <input type="hidden" data-bind="value:editorModel.menuHeader.objectId">

                        <div class="form-group" id="divAddType">
                            <label class="radio-inline">
                                <input type="radio" name="radioAddType" value="0" data-bind="checked: editorModel.menuHeader.addType"> New Menu
                            </label>

                            <label class="radio-inline">
                                <input type="radio" name="radioAddType" value="1" data-bind="checked: editorModel.menuHeader.addType"> Copy Existing Menu
                            </label>
                        </div>

                        <div class="form-group" id="divCopyMenuOverride" data-bind="invisible: editorModel.menuHeader.isNewMenu">
                            <label for="lstMenuHeaderSelect">Select Menu to copy</label>
                            <input  data-role="dropdownlist" id="lstMenuHeaderSelect" name="lstMenuHeaderSelect"
                                    data-text-field="name"
                                    data-value-field="objectId"
                                    data-bind="source: menuHeaders" data-option-label="Select an item...">
                            </input>
                        </div>

                        <div class="form-group" id="divCopyMenu" data-bind="invisible: editorModel.menuHeader.isNewMenu">
                            <label>
                                <input class="form-control k-input-lg" type="checkbox" data-bind="checked:editorModel.menuHeader.copyOverridePricing"/>Copy Override Pricing
                            </label>
                        </div>

                        <div class="form-group" id="divNewMenu" data-bind="visible: editorModel.menuHeader.isNewMenu">
                            <label for="txtMenuHeaderDescription">Name</label>
                            <input class="form-control k-input-lg" name="txtMenuHeaderDescription" id="txtMenuHeaderDescription" placeholder="Enter Menu Name" required data-required-msg="Menu name is required" data-duplicate-msg="Menu name already exists" data-bind="value:editorModel.menuHeader.name"/>
                        </div>

                        <div class="form-group" data-bind="visible: editorModel.menuHeader.isNewMenu">
                            <label>Bulk/Catering Menu</label>
                            <div class="btn-group btn-toggle col-xs-offset-6">
                                <button type="button" id="bulkMenuOn" class="btn btn-primary btn-default active" data-bind="click: editorModel.menuHeader.toggleIsBulkMenu">Yes</button>
                                <button type="button" id="bulkMenuOff" class="btn btn-default" data-bind="click: editorModel.menuHeader.toggleIsBulkMenu">No</button>
                            </div>
                        </div>

                        <div class="form-group" data-bind="visible: editorModel.menuHeader.isNewMenu">
                            <label>Minimum Order Amount</label>
                            <input data-role="numerictextbox"
                                data-min=0
                                data-spinners=false
                                data-format="c2"
                                data-bind="value:editorModel.menuHeader.minOrderAmt" placeholder="0.00"/>

                        </div>

                        <div class="form-group" data-bind="visible: editorModel.menuHeader.isNewMenu">
                            <label>Minimum Notice Period</label>
                            <input data-role="numerictextbox"
                                data-min=0
                                data-spinners=false
                                data-format="n1"
                                data-decimals="1"
                                data-bind="value:editorModel.menuHeader.minOrderNotice"/ placeholder="specify in hours">
                        </div>

                    </div>
                </div>


                <div class="form-toolbar col-xs-12">

                    <button type="button" class="col-xs-2 col-sm-3 btn btn-danger" data-bind="click:editorModel.menuHeader.deleteMenuHeaderRecord"><i class="fa fa-trash-o"></i><span class="hidden-xs">&nbsp;Delete</span></button>

                    <div class="col-xs-9 col-sm-8 rightButtonGroup">
                        <button type="button" class="saveButton btn btn-primary pull-right" data-loading-text="Saving..." data-bind="click:editorModel.menuHeader.saveMenuHeaderRecord"><i class="fa fa-check"></i><span class="hidden-"><span class="hidden-xs">&nbsp;Save</span></button>
                        <button type="button" class="btn btn-default pull-right" data-bind="click:editorModel.menuHeader.cancelSaveMenuHeaderRecord"><i class="fa fa-times"></i><span class="">&nbsp;Cancel</span></button>
                    </div>

                </div>

                <div style="clear:both"></div>

            </form>

            <!-- Menu Categories -->
            <form role="form" id="frmMenuCategoryRecordEdit" class="form-record-edit" style="display:none">
                <div data-role="tabstrip">
                    <ul>
                        <li class="k-state-active">General</li>
                    </ul>
                    <div>
                        <input type="hidden" data-bind="value:editorModel.menuCategory.objectId">

                        <div class="form-group">
                            <label for="txtMenuCategoryName">Name</label>
                            <input class="form-control k-input-lg" name="txtMenuCategoryName" id="txtMenuCategoryName" placeholder="Enter Category Name" required data-required-msg="Category name is required" data-duplicate-msg="Category name already exists" data-bind="value:editorModel.menuCategory.name"/>
                        </div>

                        <div class="form-group">
                            <label for="txtMenuCategoryDescription">Description</label>
                            <input class="form-control k-input-lg" name="txtMenuCategoryDescription" id="txtMenuCategoryDescription" placeholder="Enter Category Description (optional)" data-bind="value:editorModel.menuCategory.description"/>
                        </div>

                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="cbMenuCategoryIsVisible" data-bind="checked:editorModel.menuCategory.visible">
                                Visible
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-toolbar col-xs-12">

                    <button type="button" class="btn btn-danger col-xs-3" data-bind="click:editorModel.menuCategory.deleteRecord"><i class="fa fa-trash-o"></i><span class="hidden-xs">&nbsp;Delete</span></button>

                    <div class="col-xs-8 rightButtonGroup">
                        <button type="button" class="btn btn-primary pull-right" data-loading-text="Saving..." data-bind="click:editorModel.menuCategory.saveMenuCategoryRecord"><i class="fa fa-check"></i><span class="hidden-xs">Save</span></button>
                        <button type="button" class="btn btn-primary saveButton pull-right" data-saveAndNew="true" data-loading-text="Saving..." data-bind="click:editorModel.menuCategory.saveMenuCategoryRecord"><i class="fa fa-plus"></i><span class="hidden-xs">&nbsp;Save and New</span></button>
                        <button type="button" class="btn btn-default pull-right" data-bind="click:editorModel.menuCategory.cancelSaveRecord"><i class="fa fa-times"></i><span class="hidden-xs">&nbsp;Cancel</span></button>

                    </div>


                </div>
                <div style="clear:both"></div>
            </form>

            <!-- Menu Items Override-->
            <form role="form" id="frmMenuItemOverrideRecordEdit" class="form-record-edit" style="display:none">
                <div class="form-group">
                    <label>Menu item available for mobile ordering</label>
                    <div class="btn-group btn-toggle pull-right">
                        <button type="button" id="menuItemOrderingOn" class="btn btn-primary btn-default active"
                        data-bind="click: editorModel.menuItem.toggleMenuItemOrdering">Yes</button>
                        <button type="button" id="menuItemOrderingOff" class="btn btn-default"
                        data-bind="click: editorModel.menuItem.toggleMenuItemOrdering">No</button>
                    </div>
                </div>
                <div class="form-group">
                    <label>Override Price</label>
                    <p class="text-muted">Pricing specified here will only affect this item in this menu.</p>
                    <label>Price</label>
                        <div class="table-wrap">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr class="alert-info">
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th style="">
                                            <button type="button" class="btn btn-default btn-sm" data-bind="click:editorModel.menuItem.menuItemPrices.add"><i class="fa fa-plus"></i></button>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody data-bind="source: editorModel.menuItem.menuItemPrices.overridePricing" data-template="tmplMenuItemPriceRow"></tbody>
                            </table>
                        </div>
                    <div class="form-toolbar col-sm-12">
                        <button type="button" class="btn btn-default" data-bind="click:editorModel.menuItem.cancelSaveRecord"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                        <button type="button" class="btn btn-primary saveButton" data-loading-text="Saving..." data-bind="click:editorModel.menuItem.saveMenuItemRecord"><i class="fa fa-check"></i> Save</button>
                    </div>
                </div>
            </form>

        </div>

    </div>


</div>

<div id="cropper-modal" style="display:none">
    <div class="row">
        <div class="col-md-10">
            <p class="lead">Your image must be cropped to ensure that it displays correctly on all devices.</p>
            <p><strong>Zoom:</strong> Scroll the mouse wheel or drag touch on a touch screen device
            <br><strong>Move:</strong> Using a mouse, "Click and hold" or "drag and hold" on a touch screen device</p>
        </div>
    </div>
    <div id="cropper-image" class="row">
        <div id="cropper-image-div" class="col-md-10">
            <img src="" alt="Picture">
        </div>
    </div>
    <div class="row btnRow">
        <div class="col-md-10">
            <button type="button" class="btn btn-primary saveButton" data-bind="click: imageUpload.doCrop" data-loading-text="Saving...">Save</button>
            <button type="button" class="btn btn-default" data-bind="click: imageUpload.cancelCrop">Cancel</button>
        </div>
    </div>
</div>

<!-- image upload window -->
<div id="windowImageUpload" style="display:none;position:relative">
    <div class="container-fluid">
        <div class="div-item-list-image">

            <div class="row">
                <div class="col-md-12">
                    <p>Select an image below and then click 'Upload' button.
                    <small> (Maximum file size 500KBytes)</small></p>
                    <div class="form-group">
                        <img src="" />
                        <input style="color:transparent" type="file" data-bind="events:{change:imageUpload.showImage}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 div-upload-progress" style="visibility:hidden">
                    <div class="form-group">
                         <label>Uploading Image</label>
                         <div class="progress-bar" data-role="progressbar"
                                 data-min="0"
                                 data-max="100" style="width:100%">
                         </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="text-align:right;margin-top:5px;">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" data-bind="click: imageUpload.upload">Upload</button>
                <button type="button" class="btn btn-default" data-bind="click: imageUpload.cancel">Cancel</button>
            </div>
        </div>

    </div>

</div>

<!-- menu header row template -->
<script type="text/x-kendo-tmpl" id="tmplMenuHeaderRow">
   <div class="row row-record">
        <div class="col-xs-10" data-bind="html:editorModel.menuHeader.getDescriptionWithTrucks"></div>
        <div class="col-xs-2"><button type="button" class="btn btn-default btn-sm" data-bind="click:editorModel.menuHeader.editRecord">Edit</button></div>
   </div>

</script>
<!-- /menu header row template -->

<!-- menu category row template -->
<script type="text/x-kendo-tmpl" id="tmplMenuCategoryRow">
   <div class="row row-record trkListRow">
        <div class="col-xs-2">
            <span class="fa-stack text-muted draggable-icon draggable">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-arrows-v fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-6">
            <span>#:name#</span>
        </div>

        <div class="col-xs-2"><button type="button" class="btn btn-default btn-sm" data-bind="click:editorModel.menuCategory.editRecord">Edit</button></div>

   </div>

</script>


<!-- ALL menu item row template -->
  <script type="text/x-kendo-tmpl" id="tmplMenuItemAssignRowAll">
    <div class="row row-record trkListRow" data-bind="click: selectMenuItem">
            <div class="col-xs-12">
                <h3>#:name#</h3>
            </div>
            <div class="col-xs-1">
                <img class="trckedImagePreview" data-bind="attr:{src:editorModel.menuItem.getImageUrl}" alt="Menu Item"></img>
            </div>
             <div class="col-xs-6 col-xs-offset-3 col-sm-offset-1">                 
                 <p>#:description#</p>
             </div>
           
    </div>

 </script>


<!-- ALL menu item row template -->
  <script type="text/x-kendo-tmpl" id="tmplMenuItemRowAll">
    <div class="row row-record trkListRow">
            <div class="col-xs-12">
                <h3>#:name#</h3>
            </div>
            <div class="col-xs-1">
                <img class="trckedImagePreview" data-bind="attr:{src:editorModel.menuItem.getImageUrl}" alt="Menu Item"></img>
            </div>
             <div class="col-xs-6 col-xs-offset-3 col-sm-offset-1">                 
                 <p>#:description#</p>
             </div>
            
             <div class="col-xs-12 col-xs-offset-1 col-sm-offset-2 col-sm-1">
                 <button type="button" class="btn btn-default btn-sm menuItemEditBtn" data-bind="click:editorModel.menuItem.editMenuItemRecord" >Edit</button>
             </div>

    </div>

 </script>

<!-- menu item row template -->
<script type="text/x-kendo-tmpl" id="tmplMenuItemRow">
   <div class="clearfix row-record trkListRow">
        <div class="col-xs-7 col-sm-9">
            <h3>#:name#</h3>
        </div>

        <div class="col-xs-5 col-sm-3 overridePricingBtnWrap">
            <button type="button " class="btn btn-default btn-lg" data-bind="click:editorModel.menuItem.editMenuItemOverrideRecord">Menu settings</button>
        </div>
        # if (description) {#
        <div class="col-xs-12">
            <p>#:description#</p>        
        </div>
        #}#
        <div class="col-xs-6">
            <div class="fa-stack text-muted draggable-icon draggable">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-arrows-v fa-stack-1x"></i>
            </div>

            <a class="unAssignMenuItem" href="javascript:void(0);" data-bind="click:editorModel.menuItem.removeItemFromCategory">
                <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x"></i>
                </span>
            </a>

        </div>


       
   </div>

</script>

<!-- menu item price row template -->
<script type="text/x-kendo-tmpl" id="tmplMenuItemPriceRow">
    <tr>
        <td><input data-bind="value: text" class="k-textbox form-control"/></td>
        <td> 
            <input data-role="numerictextbox" 
                data-format="c"
                data-min=0
                data-spinners=false
                data-format="c2"
                data-bind="value:price"
                required
                validationMessage="Please enter price"/>
                
        </td>
        <td><button type="button" class="btn btn-default btn-sm" data-bind="click:delete"><i class="fa fa-trash-o"></i></button></td>
    </tr>

</script>

<!-- menu item modifier row template -->
<script type="text/x-kendo-tmpl" id="tmplMenuItemModifierRow">
    <tr>
        <td><input name="modiferDesc" data-bind="value: modifierText" class="k-textbox form-control" required
        validationMessage="Please enter modifier description"/>
        <span class="k-invalid-msg" data-for="modiferDesc">
        </td>
        <td> 
            <input data-role="numerictextbox" 
                data-format="c"
                data-min="0"
                data-format="c2" 
                data-spinners=false
                data-bind="value:cost"/>
                
        </td>
        <td><button type="button" class="btn btn-default btn-sm" data-bind="click:delete"><i class="fa fa-trash-o"></i></button></td>
    </tr>

</script>

<!-- /menu item modifier row template -->

<script type="text/x-kendo-tmpl" id="tmplMenuItemTaxesRow">
    <tr data-bind="{attr:{class:rowClass}}">
        <td style="text-align:center">
            #if (applyToAll==false){#
                <input type="checkbox" data-bind="checked:isChecked" />
            #}#
        </td>
        <td data-bind="text:description"></td> 
        <td>#:kendo.toString(percentage,"0.00\\%")#</td> 
        
    </tr>

</script>

<!-- /menu item modifier editor template -->
<script type="text/x-kendo-tmpl" id="tmplMenuItemModifierEditor">
    <form role="form" id="frmMenuItemModifierEdit">
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        
                        <input class="form-control" name="txtMenuItemModifierText" id="txtMenuItemModifierText" data-bind="value:modifierText"/>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        
                        <input data-role="numerictextbox" 
                                        name="txtMenuItemModifierCost" id="txtMenuItemModifierCost"
                                        data-format="c"
                                        data-min="0"
                                        data-max="100"
                                        data-bind="value:cost"
                                        style="width:100%">
                                        

                    </div>
                </div>

                <div class="col-md-3" style="text-align:right">
                    <div class="form-group">
                        <a class="btn btn-default btn-xs k-update-button" href="\\#"><i class="fa fa-check"></i></a>
                        <a class="btn k-cancel-button btn-default btn-xs" href="\\#"><i class="fa fa-times"></i></a>
                    </form>
                </div>
        </div>
    </form>

    
</script>

<!-- menu item tax row template -->
<script type="text/x-kendo-tmpl" id="tmplMenuItemTaxRow">
   <div class="row row-menu-header">
        <div class="col-md-6 row-menu-header-content">#:description#</div>
        <div class="col-md-3 row-menu-header-content">#:kendo.toString(parseFloat(percentage),"0.00\\%")#</div>
            
        <div class="col-md-3" style="text-align:right">
            <a class="k-edit-button btn btn-default btn-xs" href="\\#"><i class="fa fa-pencil"></i></a>
             <a class="k-delete-button btn btn-default btn-xs" href="\\#"><i class="fa fa-trash-o"></i></a>
        </div>
    
   </div>

</script>

<!-- /menu item tax row template -->

<!-- menu item tax editor template -->
<script type="text/x-kendo-tmpl" id="tmplMenuItemTaxEditor">
     <form role="form" id="frmMenuItemTaxEdit">
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        
                        <input name="lstTaxCode" id="lstTaxCode" data-role="dropdownlist"
                                   data-text-field="description"
                                   data-value-field="objectId"
                                   data-bind="source: taxCodes,value:objectId">
                            </input>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                       <label>this</label>
                    </div>
                </div>

                <div class="col-md-3" style="text-align:right">
                    <div class="form-group">
                        <a class="btn btn-default btn-xs k-update-button" href="\\#"><i class="fa fa-check"></i></a>
                        <a class="btn k-cancel-button btn-default btn-xs" href="\\#"><i class="fa fa-times"></i></a>
                    </form>
                </div>
        </div>
    </form>
</script>

<script type="text/x-kendo-template" id="menuHeaderDropDownItem">
    <div class="col-sm-10">#= data.name#</div><div class="col-sm-2"><a data-bind="click:editorModel.menuHeader.editRecord">Edit</a></div>
</script>