 <!-- NOTIFICATIONS -->
<script id="infoTemplate" type="text/x-kendo-template">
    <div class="notification-info">
        <i class="fa fa-info-circle fa-3x"></i>
        <h4>#= title #</h4>
        <p>#= message #</p>
    </div>
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="notification-error">
        <i class="fa fa-times-circle fa-3x"></i>
        <h4>#= title #</h4>
        <p>#= message #</p>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="notification-success">
        <i class="fa fa-check-circle-o fa-3x"></i>
        <h4>#= title #</h4>
        <p>#= message #</p>
    </div>
</script>

<!-- /NOTIFICATIONS -->